* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Roboto", serif;
	font-weight: 100;
	font-style: normal;
}

html, body {
    height: 100%;
    overflow: hidden; /* Masquer le défilement par défaut */
}

h1 {
	font-weight: 500;
	text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
	font-weight: 300;
}

ul {
	padding: 10px;
}

nav {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
    width: 100%;
    z-index: 1000; /* Pour s'assurer que le nav soit au-dessus des sections */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #333; /* Couleur du texte du menu */
    text-decoration: none;
    font-size: 1.2em;
}

.section {
    height: 100vh; /* Chaque section occupe 100% de la hauteur de la fenêtre */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    /* padding-top: 60px; *//* Pour éviter que le contenu soit caché derrière le nav */
    color: white; /* Couleur du texte */
	flex-flow: column wrap;
}

/*
#section1 {
    background-color: #4CAF50;
}


#section2 {
    background-color: #2196F3;
}

#section3 {
    background-color: #f44336;
}
*/

#section-intro-1 {
	background-color: #FFFFFF;
}

#section-intro-2 {
	background-image: url("images/la-jolla-cove.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.drapeau-usa {
	width: 400px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#section1 {
	background-color: #006374; /*vert mh*/
}
#section2 {
	background-color: #002b3a; /*vert fonce mh*/
}
#section3 {
	background-color: #E2250C; /*corail #E7332A*/
}
#section4 {
	background-color: #FF4B33;
}
#section5 {
	background-color: #6D4CA7;
}
#section6 {
	background-color: #4B218E;
}
#section7 {
	background-color: #F4B5D4;
}
#section8 {
	background-color: #D81E88;
}
#section9 {
	background-color: #EDE8E6;
}
#section10 {
	background-color: #E4D8C4;
}
#section11 {
	background-color: #F4EC5B;
}
#section12 {
	background-color: #FFB43D;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    z-index: 1000;
    display: none;
}

.footer-left, .footer-right {
    flex: 1; /* Prend toute la largeur de la div */
}

.footer-left a, .footer-right a {
    display: block; /* Transforme l'élément en bloc pour prendre toute la div */
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement sur le lien */
    padding: 10px; /* Ajout d'un peu d'espace autour du texte */
    text-align: center; /* Centre le texte */
	padding: 40px;
}

/* Définir l'animation de fondu */
@keyframes fadeIn {
    from {
        opacity: 0; /* Commence transparent */
        background-color: black; /* Fond noir */
    }
    to {
        opacity: 1; /* Fin complètement opaque */
        background-color: transparent; /* Fin avec le fond normal */
    }
}

/* Appliquer l'animation au body */
body {
    animation: fadeIn 0.7s ease-out; /* Animation de 0.7 seconde */
    background-color: black; /* Fond noir initial */
	color: black;
}

.disabled {
	opacity: 0.5;
}

/* Styles pour la div popup */
.popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}

#popup-img-container { 
	position: relative;
}

#popup-img {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--color-white);
	padding: 20px;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 90%;
	max-height: 90%;
	z-index: 1000;
	background-color: #fff;
}
#popup-img img {
	max-width: 100%;
	max-height: 85dvh;
}